[submodule "common_core/ms-0/libft"]
	path = common_core/ms-0/libft
	url = git@github.com:Gitmard/libft.git
[submodule "common_core/ms-1/ft_printf"]
	path = common_core/ms-1/ft_printf
	url = git@github.com:Gitmard/ft_printf.git
[submodule "common_core/ms-1/get_next_line"]
	path = common_core/ms-1/get_next_line
	url = git@github.com:Gitmard/get_next_line.git
[submodule "common_core/ms-2/push_swap"]
	path = common_core/ms-2/push_swap
	url = git@github.com:Gitmard/ft_push_swap.git
[submodule "common_core/ms-2/python_piscine"]
	path = common_core/ms-2/python_piscine
	url = git@github.com:Gitmard/python_piscine_ft.git
[submodule "common_core/ms-2/a-maze-ing"]
	path = common_core/ms-2/a-maze-ing
	url = git@github.com:Gitmard/a-maze-ing.git
[submodule "common_core/ms-3/codexion"]
	path = common_core/ms-3/codexion
	url = git@github.com:ardsimm/codexion.git
[submodule "common_core/ms-3/call_me_maybe"]
	path = common_core/ms-3/call_me_maybe
	url = git@github.com:ardsimm/call_me_maybe.git
